abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
img {
    width: 100%;
    height: auto;
}


:root {
  --col-black: #1e1f1f;
  --col-black2: #1c1d1d;
  --col-black3: #141414;
  --col-gray: #3c3c3c;
  --col-white: #dbd6d0;
  --col-orange: #ed4514;
}

/* フォントサイズ指定 */

html {
  font-size: 62.5%;
}

body {
  font-size: calc(1.3rem + 0.18vw);
  font-family:"TTNormsPro-Rg";
}

body p {
  line-height: 1.6;
}

body h1 {
  font-size: calc(2rem + 8vw);
}

body h2 {
  font-size: calc(2rem + 3.5vw);
}

body h3 {
  font-size: calc(2rem + 1.3vw);
}

body h4 {
  font-size: calc(2rem + 1.2vw);
}

body h5, body h6 {
  font-size: calc(2rem + 1vw);
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
  body p {
    font-size: 1.8rem;
  }
  body h1 {
    font-size: 6.3125rem;
  }
  body h2 {
    font-size: 4.3125rem;
  }
  body h3 {
    font-size: 3.375rem;
  }
  body h4 {
    font-size: 2.125rem;
  }
  body h5, body h6 {
    font-size: 1.875rem;
  }
}
/*
@media screen and (max-width: 770px) {
  body {
    font-size: 1.525rem;
  }
  body p {
    font-size: 1.6rem;
  }
  body h2 {
    font-size: 3.1875rem;
  }
  body h3 {
    font-size: 2.625rem;
  }
  body h4 {
    font-size: 1.875rem;
  }
  body h5, body h6 {
    font-size: 1.725rem;
  }
}
*/

@media screen and (max-width: 640px) {
  body {
    font-size: 1.675rem;
  }
  body p {
    font-size: 1.5rem;
  }
  body h1 {
    font-size: 7rem;
  }
  body h2, body h3 {
    font-size: 2rem;
  }
  body h4 {
    font-size: 1.5rem;
  }
  body h5, body h6 {
    font-size: 1.65rem;
  }
}

/*
@media screen and (max-width: 480px) {
  body {
    background: #b4b4a7;
    font-size: calc(1.3rem + 0.18vw);
  }
  body h2 {
    font-size: calc(1.25rem + 1.35vw);
  }
  body h3 {
    font-size: calc(1.25rem + 0.9vw);
  }
  body h4 {
    font-size: calc(1.25rem + 0.3vw);
  }
  body h5, body h6 {
    font-size: calc(1.5rem + 0.18vw);
  }
}
*/

/*コンテンツ間の高さ指定*/

body main .s1 {
  pointer-events: none;
  height: 30vh;
}

body main .s2 {
  pointer-events: none;
  height: 25vh;
}

body main .s3 {
  pointer-events: none;
  height: 20vh;
}

body main .s4 {
  pointer-events: none;
  height: 10vh;
}

body main .s5 {
  pointer-events: none;
  height: 5vh;
}

body main .s6 {
  pointer-events: none;
  height: 2.5vh;
}
/*
@media screen and (max-width: 1024px) {
  body main .s1 {
    height: 300px;
  }
  body main .s2 {
    height: 250px;
  }
  body main .s3 {
    height: 200px;
  }
  body main .s4 {
    height: 100px;
  }
  body main .s5 {
    height: 50px;
  }
  body main .s6 {
    height: 25px;
  }
}
*/

@media screen and (max-width: 640px) {
  body main .s1 {
    height: 100px;
  }
  body main .s2 {
    height: 80px;
  }
  body main .s3 {
    height: 60px;
  }
  body main .s4 {
    height: 30px;
  }
  body main .s5, body main .s6 {
    height: 20px;
  }
}



::selection {
  background: #ddd;
  color: #333;
}

::-moz-selection {
  background: #ddd;
  color: #333;
}

/*body*/

body {
  background: var(--col-white);
}

body p {
  color: var(--col-black);
}


/*component*/

.r {
  position: relative;
}

.w {
  overflow: hidden;
}
.c {
  display: inline-block;
}

.sectoin-title {
  text-align: left;
  margin-bottom: 2vw;
}

.mask {
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--col-white);
}


.button {
  position: relative;
  /*margin-top: 2vw;*/
  display: flex;
  justify-content: center;
}

.button .button-body {
  position: relative;
  display: flex;
  width: 26.5rem;
  height: 7.2rem;
  border: 1px solid var(--col-black);
  border-radius: 100px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.button .button-text {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1.8rem;
  display: flex;
  padding-left: 2.2em;
  letter-spacing: .03em;
  pointer-events: none;
}

.button .button-arrow {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}


/*header*/

header {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 5vw;
  text-align: right;
  width: 90vw;
  left: 5vw;
  align-items: center;
  justify-content: space-between;
}

header button {
  background-color: rgba(148, 117, 117, 0);
  border: 0px;
  font-size: 1vw;
  color: var(--col-orange);
  cursor: pointer;
}

header p {
  color: var(--col-orange);
}

header .header_darkmode {
  border: solid 1px var(--col-orange);
  padding: 5px;
  border-radius: 100px;
}

header button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

header h2 {
  color: var(--col-orange);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2vw;
}

/*kv*/

.kv_title-wrap {
  position: relative;
}

.kv_title {
  letter-spacing: -0.1em;
}

.kv_img img{
  width: 100%;
  /*border-radius: 2vw;*/
}

.circle.circle-firstview {
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}




/*main*/

.main {
  margin: 0 15vw;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .main {
    margin: 0 5vw;
    text-align: center;
  }
}

.main h1{
  text-transform: uppercase;
  text-align: left;
}

.section_title {
  text-align: left;
}

.section_title p{
  margin-top: 2em;
}




/*section01*/

.section {
  margin: 0 15vw;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .section {
    margin: 0 5vw;
    text-align: center;
  }
}


.section .section_list {
  margin-bottom: 5vw;
}

.section .thumbnail {
  width: 100%;
  /*border-radius: 2vw;*/
}

.section .section_list .section_list_co {
  text-decoration: none;
}

.section .section_list .section_list_co .list_img{
  position: relative;
}

.section .section_list .list_text {
  font-size: 2.4vw;
  font-weight: bold;
  margin-top: 1vw;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #111;
}


/*section02*/

.section02 {
  margin: 0 20vw;
  text-align: center;
}

.section02 .section02_list {
  margin-bottom: 5vw;
}

.section02 .thumbnail {
  width: 100%;
  border-radius: 2vw;
}

.section02 .section02_list .section02_list_co {
  text-decoration: none;
}

.section02 .section02_list .list_text {
  font-size: 2.4vw;
  font-weight: bold;
}


.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  background: #040404;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu_body {
  margin: 0 15vw;
  text-align: center;
  
}

@media screen and (max-width: 640px) {
  .menu_body {
    margin: 0 5vw;
    text-align: center;
  }
}

.menu-title {
  color: #fff;
  padding: 20px 0;
  text-align: left;
}


/*footer

footer {
  display: flex;
  z-index: 999;
  width: 90vw;
  margin: 0 5vw;
  align-items: center;
  justify-content: space-between;
}


footer button {
  background-color: rgba(148, 117, 117, 0);
  border: 0px;
  font-size: 1vw;
}

footer button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

footer small {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2vw;
}

*/


