---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Blog">
	<main>
        <Header />

		<h1>私のAstro学習ブログ</h1>
        <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>

        <ul>
        <li><a href="/posts/post-1/">記事1</a></li>
        <li><a href="/posts/post-2/">記事2</a></li>
        <li><a href="/posts/post-3/">記事3</a></li>
        </ul>
	</main>
</Layout>

