---
---

<header>
  <div class="logo">
    <a href="/">TOP</a>
  </div>
  <div class="navigation_list">
    <a href="/about">ABOUT</a>
    <a href="/works">WORKS</a>
    <a href="/news">NEWS</a>
  </div>
  <a href="/contact" class="button -lg">CONTACT</a>
</header>