---
---

<header>
    <div class="w">
      <h2 class="c header_text">by me</h2>
    </div>

    <div class="w">
      <div class="header_text">
        <!--
        <button type="button" id="toggle-menu menu-button" class="c btn" onclick="hoge()">menu</button>
        -->
        <p>menu</p>
      </div>
    </div>
</header>